<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <script src="../public/js/scripts.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>MovieAdvisor</title>
</head>
<header>
    <div class="container">
        <ul id="nav">
          <li class="toggle">
            <div class="bar1"></div><div class="bar2"></div><div class="bar3"></div>
            <script>
                $(document).ready(function(){
    $('.toggle').click(function(){
      $('#nav').toggleClass('open');
      $('.container').toggleClass('menu-open');
    });
  });
            </script>
          </li>
          <li><a href="">POPULAIRES</a></li>
          <li><a href="">LES MIEUX NOTER</a></li>
          <li><a href="">PROCHAINES SORTIE</a></li>
          <li><a href="">CONTACT</a></li>
          <li>
            <div class="search-box">
            <button class="btn-search"><i class="fas fa-search"></i></button>
            <input type="text" class="input-search" placeholder="Recherche...">
          </div>
          </li>
          <li>
            <ul class="navbar">
              <li>
                <a href="#"><i class="fas fa-user"></i> <%= username %></a>
                <ul>
                  <li><a href="#"><i class="fas fa-id-card"></i> Profil</a></li>
                  <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Exit</a></li>
                </ul>
              </li>
              </li>
            </ul>
          </li>
          <ul>
          </ul>
          
        </ul>
         <div class="overlay">
          <div>
            <svg class="logo"  width="500" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
              viewBox="0 0 160 160" s xml:space="preserve" fill="#DEB992">
  
              <polygon class="st0" points="3,128.05 3,32.26 24.1,32.26 54.04,73.43 84.67,32.26 115.12,32.26 158,128.05 138.09,128.05 
                129.93,110.01 91.3,110.01 78.2,128.05 57.28,128.05 83.89,93.4 122.72,93.29 100.1,41.18 55.64,100.26 52.04,100.38 21.43,58.73 
                21.32,128.51 3,128.85" stroke="#051622" stroke-width="1"/>
            </svg>
          </div>
          <h1 id="titre_site">MovieAdvisor <br> Votre Avis simplement...</h1>
          </div>
      
      </div>
</header>
<body>
    <div class="titre_section">
        <h2>Les films les plus populaires</h2>
      </div>
      <section class="mostPopularFilms">
        <script>
          const popularMovie= "http://api.themoviedb.org/3/movie/popular/?api_key=84483b5fbf72908a4d3869434376a6ba&language=fr&page=1"
                  fetch(popularMovie)
                  .then((res) => res.json())
                  .then ((data) =>  {
                  var movie = (data.results)             
                   console.log(movie[0].title);
                   document.querySelector(".mostPopularFilms").innerHTML = `
                   <div class="section">
                      <div class="card">
                          <div class="poster">
                            <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[0].poster_path}">
                          </div>
                    <div class="Movie_rate">
                      <p>${movie[0].vote_average} <span><i class="fas fa-star"></i></span></p>
                    </div>
                    <div class="Movie_title">
                      <h2>${movie[0].title}</h2><p>(${movie[0].release_date})</p></div>
                  </div>

                  <div class="card">
                          <div class="poster">
                            <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[1].poster_path}">
                          </div>
                    <div class="Movie_rate">
                      <p>${movie[1].vote_average} <span><i class="fas fa-star"></i></span></p>
                    </div>
                    <div class="Movie_title"><h2>${movie[1].title}</h2><p>(${movie[1].release_date})</p></div>
                  </div>

                  <div class="card">
                          <div class="poster">
                            <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[2].poster_path}">
                          </div>
                    <div class="Movie_rate">
                      <p>${movie[2].vote_average} <span><i class="fas fa-star"></i></span></p>
                    </div>
                    <div class="Movie_title"><h2>${movie[2].title}</h2><p>(${movie[2].release_date})</p></div>
                  </div>

                  <div class="card">
                          <div class="poster">
                            <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[3].poster_path}">
                          </div>
                    <div class="Movie_rate">
                      <p>${movie[3].vote_average} <span><i class="fas fa-star"></i></span></p>
                    </div>
                    <div class="Movie_title"><h2>${movie[3].title}</h2><p>(${movie[3].release_date})</p></div>
                  </div>

                  <div class="card">
                          <div class="poster">
                            <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[4].poster_path}">
                          </div>
                    <div class="Movie_rate">
                      <p>${movie[4].vote_average} <span><i class="fas fa-star"></i></span></p>
                    </div>
                    <div class="Movie_title"><h2>${movie[4].title}</h2><p>(${movie[4].release_date})</p></div>
                  </div>

                  <div class="card">
                          <div class="poster">
                            <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[5].poster_path}">
                          </div>
                    <div class="Movie_rate">
                      <p>${movie[5].vote_average} <span><i class="fas fa-star"></i></span></p>
                    </div>
                    <div class="Movie_title"><h2>${movie[5].title}</h2><p>(${movie[5].release_date})</p></div>
                  </div>

                  <div class="card">
                          <div class="poster">
                            <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[6].poster_path}">
                          </div>
                    <div class="Movie_rate">
                      <p>${movie[6].vote_average} <span><i class="fas fa-star"></i></span></p>
                    </div>
                    <div class="Movie_title"><h2>${movie[6].title}</h2><p>(${movie[6].release_date})</p></div>
                  </div>

                  <div class="card">
                          <div class="poster">
                            <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[7].poster_path}">
                          </div>
                    <div class="Movie_rate">
                      <p>${movie[7].vote_average} <span><i class="fas fa-star"></i></span></p>
                    </div>
                    <div class="Movie_title"><h2>${movie[7].title}</h2><p>(${movie[7].release_date})</p></div>
                  </div>

                  <div class="card">
                          <div class="poster">
                            <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[8].poster_path}">
                          </div>
                    <div class="Movie_rate">
                      <p>${movie[8].vote_average} <span><i class="fas fa-star"></i></span></p>
                    </div>
                    <div class="Movie_title"><h2>${movie[8].title}</h2><p>(${movie[8].release_date})</p></div>
                  </div>

                  <div class="card">
                          <div class="poster">
                            <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[9].poster_path}">
                          </div>
                    <div class="Movie_rate">
                      <p>${movie[9].vote_average} <span><i class="fas fa-star"></i></span></p>
                    </div>
                    <div class="Movie_title"><h2>${movie[9].title}</h2><p>(${movie[9].release_date})</p></div>
                  </div>
                    </div>
               `;
})
        </script>

            </div>
      </section>
      
      <div class="titre_section">
        <h2>Les Films les mieux noter</h2>
        <div class="line"></div>
      </div>
      <section class="mostRatedFilms">
        <div class="section">   
          <script>
            const testMovie= "http://api.themoviedb.org/3/movie/top_rated?api_key=84483b5fbf72908a4d3869434376a6ba&language=fr&page=1"
                    fetch(testMovie)
                    .then((res) => res.json())
                    .then ((data) =>  {
                    var movie = (data.results)             
                     console.log(movie[0].title);
                     document.querySelector(".mostRatedFilms").innerHTML = `
                     <div class="section">
                        <div class="card">
                            <div class="poster">
                              <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[0].poster_path}">
                            </div>
                      <div class="Movie_rate">
                        <p>${movie[0].vote_average} <span><i class="fas fa-star"></i></span></p>
                      </div>
                      <div class="Movie_title">
                        <h2>${movie[0].title}</h2><p>(${movie[0].release_date})</p></div>
                    </div>
  
                    <div class="card">
                            <div class="poster">
                              <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[1].poster_path}">
                            </div>
                      <div class="Movie_rate">
                        <p>${movie[1].vote_average} <span><i class="fas fa-star"></i></span></p>
                      </div>
                      <div class="Movie_title"><h2>${movie[1].title}</h2><p>(${movie[1].release_date})</p></div>
                    </div>
  
                    <div class="card">
                            <div class="poster">
                              <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[2].poster_path}">
                            </div>
                      <div class="Movie_rate">
                        <p>${movie[2].vote_average} <span><i class="fas fa-star"></i></span></p>
                      </div>
                      <div class="Movie_title"><h2>${movie[2].title}</h2><p>(${movie[2].release_date})</p></div>
                    </div>
  
                    <div class="card">
                            <div class="poster">
                              <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[3].poster_path}">
                            </div>
                      <div class="Movie_rate">
                        <p>${movie[3].vote_average} <span><i class="fas fa-star"></i></span></p>
                      </div>
                      <div class="Movie_title"><h2>${movie[3].title}</h2><p>(${movie[3].release_date})</p></div>
                    </div>
  
                    <div class="card">
                            <div class="poster">
                              <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[4].poster_path}">
                            </div>
                      <div class="Movie_rate">
                        <p>${movie[4].vote_average} <span><i class="fas fa-star"></i></span></p>
                      </div>
                      <div class="Movie_title"><h2>${movie[4].title}</h2><p>(${movie[4].release_date})</p></div>
                    </div>
  
                    <div class="card">
                            <div class="poster">
                              <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[5].poster_path}">
                            </div>
                      <div class="Movie_rate">
                        <p>${movie[5].vote_average} <span><i class="fas fa-star"></i></span></p>
                      </div>
                      <div class="Movie_title"><h2>${movie[5].title}</h2><p>(${movie[5].release_date})</p></div>
                    </div>
  
                    <div class="card">
                            <div class="poster">
                              <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[6].poster_path}">
                            </div>
                      <div class="Movie_rate">
                        <p>${movie[6].vote_average} <span><i class="fas fa-star"></i></span></p>
                      </div>
                      <div class="Movie_title"><h2>${movie[6].title}</h2><p>(${movie[6].release_date})</p></div>
                    </div>
  
                    <div class="card">
                            <div class="poster">
                              <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[7].poster_path}">
                            </div>
                      <div class="Movie_rate">
                        <p>${movie[7].vote_average} <span><i class="fas fa-star"></i></span></p>
                      </div>
                      <div class="Movie_title"><h2>${movie[7].title}</h2><p>(${movie[7].release_date})</p></div>
                    </div>
  
                    <div class="card">
                            <div class="poster">
                              <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[8].poster_path}">
                            </div>
                      <div class="Movie_rate">
                        <p>${movie[8].vote_average} <span><i class="fas fa-star"></i></span></p>
                      </div>
                      <div class="Movie_title"><h2>${movie[8].title}</h2><p>(${movie[8].release_date})</p></div>
                    </div>
  
                    <div class="card">
                            <div class="poster">
                              <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[9].poster_path}">
                            </div>
                      <div class="Movie_rate">
                        <p>${movie[9].vote_average} <span><i class="fas fa-star"></i></span></p>
                      </div>
                      <div class="Movie_title"><h2>${movie[9].title}</h2><p>(${movie[9].release_date})</p></div>
                    </div>
                      </div>
                 `;
  })
          </script>
        </div>
    </section>
    
      <div class="titre_section">
        <h2>Les prochaines sorties film</h2>
      </div>
      <section class="UpcomingFilms">
        <script>
            const lastMovie= "http://api.themoviedb.org/3/movie/upcoming?api_key=84483b5fbf72908a4d3869434376a6ba&language=fr&page=1"
                    fetch(lastMovie)
                    .then((res) => res.json())
                    .then ((data) =>  {
                    var movie = (data.results)             
                     console.log(movie[0].title);
                     document.querySelector(".UpcomingFilms").innerHTML = `
                     <div class="section">
                        <div class="card">
                            <div class="poster">
                              <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[0].poster_path}">
                            </div>
                      <div class="Movie_rate">
                        <p>${movie[0].vote_average} <span><i class="fas fa-star"></i></span></p>
                      </div>
                      <div class="Movie_title">
                        <h2>${movie[0].title}</h2><p>(${movie[0].release_date})</p></div>
                    </div>
  
                    <div class="card">
                            <div class="poster">
                              <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[1].poster_path}">
                            </div>
                      <div class="Movie_rate">
                        <p>${movie[1].vote_average} <span><i class="fas fa-star"></i></span></p>
                      </div>
                      <div class="Movie_title"><h2>${movie[1].title}</h2><p>(${movie[1].release_date})</p></div>
                    </div>
  
                    <div class="card">
                            <div class="poster">
                              <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[2].poster_path}">
                            </div>
                      <div class="Movie_rate">
                        <p>${movie[2].vote_average} <span><i class="fas fa-star"></i></span></p>
                      </div>
                      <div class="Movie_title"><h2>${movie[2].title}</h2><p>(${movie[2].release_date})</p></div>
                    </div>
  
                    <div class="card">
                            <div class="poster">
                              <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[3].poster_path}">
                            </div>
                      <div class="Movie_rate">
                        <p>${movie[3].vote_average} <span><i class="fas fa-star"></i></span></p>
                      </div>
                      <div class="Movie_title"><h2>${movie[3].title}</h2><p>(${movie[3].release_date})</p></div>
                    </div>
  
                    <div class="card">
                            <div class="poster">
                              <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[4].poster_path}">
                            </div>
                      <div class="Movie_rate">
                        <p>${movie[4].vote_average} <span><i class="fas fa-star"></i></span></p>
                      </div>
                      <div class="Movie_title"><h2>${movie[4].title}</h2><p>(${movie[4].release_date})</p></div>
                    </div>
  
                    <div class="card">
                            <div class="poster">
                              <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[5].poster_path}">
                            </div>
                      <div class="Movie_rate">
                        <p>${movie[5].vote_average} <span><i class="fas fa-star"></i></span></p>
                      </div>
                      <div class="Movie_title"><h2>${movie[5].title}</h2><p>(${movie[5].release_date})</p></div>
                    </div>
  
                    <div class="card">
                            <div class="poster">
                              <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[6].poster_path}">
                            </div>
                      <div class="Movie_rate">
                        <p>${movie[6].vote_average} <span><i class="fas fa-star"></i></span></p>
                      </div>
                      <div class="Movie_title"><h2>${movie[6].title}</h2><p>(${movie[6].release_date})</p></div>
                    </div>
  
                    <div class="card">
                            <div class="poster">
                              <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[7].poster_path}">
                            </div>
                      <div class="Movie_rate">
                        <p>${movie[7].vote_average} <span><i class="fas fa-star"></i></span></p>
                      </div>
                      <div class="Movie_title"><h2>${movie[7].title}</h2><p>(${movie[7].release_date})</p></div>
                    </div>
  
                    <div class="card">
                            <div class="poster">
                              <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[8].poster_path}">
                            </div>
                      <div class="Movie_rate">
                        <p>${movie[8].vote_average} <span><i class="fas fa-star"></i></span></p>
                      </div>
                      <div class="Movie_title"><h2>${movie[8].title}</h2><p>(${movie[8].release_date})</p></div>
                    </div>
  
                    <div class="card">
                            <div class="poster">
                              <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[9].poster_path}">
                            </div>
                      <div class="Movie_rate">
                        <p>${movie[9].vote_average} <span><i class="fas fa-star"></i></span></p>
                      </div>
                      <div class="Movie_title"><h2>${movie[9].title}</h2><p>(${movie[9].release_date})</p></div>
                    </div>
                      </div>
                 `;
  })
          </script>
        </div>
    </section>


    <div class="titre_section">
      <h2>Les series les plus populaire</h2>
    </div>
    <section class="mostPopularTv">
      <script>
          const popularTv= "http://api.themoviedb.org/3/tv/popular/?api_key=84483b5fbf72908a4d3869434376a6ba&language=fr&page=1"
                  fetch(popularTv)
                  .then((res) => res.json())
                  .then ((data) =>  {
                  var movie = (data.results)             
                   console.log(popularTv);
                   document.querySelector(".mostPopularTv").innerHTML = `
                   <div class="section">
                      <div class="card">
                          <div class="poster">
                            <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[0].poster_path}">
                          </div>
                    <div class="Movie_rate">
                      <p>${movie[0].vote_average} <span><i class="fas fa-star"></i></span></p>
                    </div>
                    <div class="Movie_title">
                      <h2>${movie[0].name}</h2><p>(${movie[0].first_air_date})</p></div>
                  </div>

                  <div class="card">
                          <div class="poster">
                            <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[1].poster_path}">
                          </div>
                    <div class="Movie_rate">
                      <p>${movie[1].vote_average} <span><i class="fas fa-star"></i></span></p>
                    </div>
                    <div class="Movie_title"><h2>${movie[1].name}</h2><p>(${movie[1].first_air_date})</p></div>
                  </div>

                  <div class="card">
                          <div class="poster">
                            <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[2].poster_path}">
                          </div>
                    <div class="Movie_rate">
                      <p>${movie[2].vote_average} <span><i class="fas fa-star"></i></span></p>
                    </div>
                    <div class="Movie_title"><h2>${movie[2].name}</h2><p>(${movie[2].first_air_date})</p></div>
                  </div>

                  <div class="card">
                          <div class="poster">
                            <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[3].poster_path}">
                          </div>
                    <div class="Movie_rate">
                      <p>${movie[3].vote_average} <span><i class="fas fa-star"></i></span></p>
                    </div>
                    <div class="Movie_title"><h2>${movie[3].name}</h2><p>(${movie[3].first_air_date})</p></div>
                  </div>

                  <div class="card">
                          <div class="poster">
                            <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[4].poster_path}">
                          </div>
                    <div class="Movie_rate">
                      <p>${movie[4].vote_average} <span><i class="fas fa-star"></i></span></p>
                    </div>
                    <div class="Movie_title"><h2>${movie[4].name}</h2><p>(${movie[4].first_air_date})</p></div>
                  </div>

                  <div class="card">
                          <div class="poster">
                            <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[5].poster_path}">
                          </div>
                    <div class="Movie_rate">
                      <p>${movie[5].vote_average} <span><i class="fas fa-star"></i></span></p>
                    </div>
                    <div class="Movie_title"><h2>${movie[5].name}</h2><p>(${movie[5].first_air_date})</p></div>
                  </div>

                  <div class="card">
                          <div class="poster">
                            <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[6].poster_path}">
                          </div>
                    <div class="Movie_rate">
                      <p>${movie[6].vote_average} <span><i class="fas fa-star"></i></span></p>
                    </div>
                    <div class="Movie_title"><h2>${movie[6].name}</h2><p>(${movie[6].first_air_date})</p></div>
                  </div>

                  <div class="card">
                          <div class="poster">
                            <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[7].poster_path}">
                          </div>
                    <div class="Movie_rate">
                      <p>${movie[7].vote_average} <span><i class="fas fa-star"></i></span></p>
                    </div>
                    <div class="Movie_title"><h2>${movie[7].name}</h2><p>(${movie[7].first_air_date})</p></div>
                  </div>

                  <div class="card">
                          <div class="poster">
                            <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[8].poster_path}">
                          </div>
                    <div class="Movie_rate">
                      <p>${movie[8].vote_average} <span><i class="fas fa-star"></i></span></p>
                    </div>
                    <div class="Movie_title"><h2>${movie[8].name}</h2><p>(${movie[8].first_air_date})</p></div>
                  </div>

                  <div class="card">
                          <div class="poster">
                            <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[9].poster_path}">
                          </div>
                    <div class="Movie_rate">
                      <p>${movie[9].vote_average} <span><i class="fas fa-star"></i></span></p>
                    </div>
                    <div class="Movie_title"><h2>${movie[9].name}</h2><p>(${movie[9].first_air_date})</p></div>
                  </div>
                    </div>
               `;
})
        </script>
      </div>
  </section>


  <div class="titre_section">
    <h2>Les series les mieux noter</h2>
  </div>
  <section class="mostRatedTv">
    <script>
        const topRatedTv= "http://api.themoviedb.org/3/tv/top_rated/?api_key=84483b5fbf72908a4d3869434376a6ba&language=fr&page=1"
                fetch(topRatedTv)
                .then((res) => res.json())
                .then ((data) =>  {
                var movie = (data.results)             
                 console.log(popularTv);
                 document.querySelector(".mostRatedTv").innerHTML = `
                 <div class="section">
                    <div class="card">
                        <div class="poster">
                          <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[0].poster_path}">
                        </div>
                  <div class="Movie_rate">
                    <p>${movie[0].vote_average} <span><i class="fas fa-star"></i></span></p>
                  </div>
                  <div class="Movie_title">
                    <h2>${movie[0].name}</h2><p>(${movie[0].first_air_date})</p></div>
                </div>

                <div class="card">
                        <div class="poster">
                          <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[1].poster_path}">
                        </div>
                  <div class="Movie_rate">
                    <p>${movie[1].vote_average} <span><i class="fas fa-star"></i></span></p>
                  </div>
                  <div class="Movie_title"><h2>${movie[1].name}</h2><p>(${movie[1].first_air_date})</p></div>
                </div>

                <div class="card">
                        <div class="poster">
                          <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[2].poster_path}">
                        </div>
                  <div class="Movie_rate">
                    <p>${movie[2].vote_average} <span><i class="fas fa-star"></i></span></p>
                  </div>
                  <div class="Movie_title"><h2>${movie[2].name}</h2><p>(${movie[2].first_air_date})</p></div>
                </div>

                <div class="card">
                        <div class="poster">
                          <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[3].poster_path}">
                        </div>
                  <div class="Movie_rate">
                    <p>${movie[3].vote_average} <span><i class="fas fa-star"></i></span></p>
                  </div>
                  <div class="Movie_title"><h2>${movie[3].name}</h2><p>(${movie[3].first_air_date})</p></div>
                </div>

                <div class="card">
                        <div class="poster">
                          <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[4].poster_path}">
                        </div>
                  <div class="Movie_rate">
                    <p>${movie[4].vote_average} <span><i class="fas fa-star"></i></span></p>
                  </div>
                  <div class="Movie_title"><h2>${movie[4].name}</h2><p>(${movie[4].first_air_date})</p></div>
                </div>

                <div class="card">
                        <div class="poster">
                          <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[5].poster_path}">
                        </div>
                  <div class="Movie_rate">
                    <p>${movie[5].vote_average} <span><i class="fas fa-star"></i></span></p>
                  </div>
                  <div class="Movie_title"><h2>${movie[5].name}</h2><p>(${movie[5].first_air_date})</p></div>
                </div>

                <div class="card">
                        <div class="poster">
                          <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[6].poster_path}">
                        </div>
                  <div class="Movie_rate">
                    <p>${movie[6].vote_average} <span><i class="fas fa-star"></i></span></p>
                  </div>
                  <div class="Movie_title"><h2>${movie[6].name}</h2><p>(${movie[6].first_air_date})</p></div>
                </div>

                <div class="card">
                        <div class="poster">
                          <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[7].poster_path}">
                        </div>
                  <div class="Movie_rate">
                    <p>${movie[7].vote_average} <span><i class="fas fa-star"></i></span></p>
                  </div>
                  <div class="Movie_title"><h2>${movie[7].name}</h2><p>(${movie[7].first_air_date})</p></div>
                </div>

                <div class="card">
                        <div class="poster">
                          <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[8].poster_path}">
                        </div>
                  <div class="Movie_rate">
                    <p>${movie[8].vote_average} <span><i class="fas fa-star"></i></span></p>
                  </div>
                  <div class="Movie_title"><h2>${movie[8].name}</h2><p>(${movie[8].first_air_date})</p></div>
                </div>

                <div class="card">
                        <div class="poster">
                          <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[9].poster_path}">
                        </div>
                  <div class="Movie_rate">
                    <p>${movie[9].vote_average} <span><i class="fas fa-star"></i></span></p>
                  </div>
                  <div class="Movie_title"><h2>${movie[9].name}</h2><p>(${movie[9].first_air_date})</p></div>
                </div>
                  </div>
             `;
})
      </script>
    </div>
</section>


<div class="titre_section">
  <h2>Les series les plus regarder en ce moment</h2>
</div>
<section class="mostWatchedTvOnAir">
  <script>
      const latestRatedTv= "http://api.themoviedb.org/3/tv/on_the_air?api_key=84483b5fbf72908a4d3869434376a6ba&language=fr"
              fetch(latestRatedTv)
              .then((res) => res.json())
              .then ((data) =>  {
              var movie = (data.results)             
               console.log(latestRatedTv);
               document.querySelector(".mostWatchedTvOnAir").innerHTML = `
               <div class="section">
                  <div class="card">
                      <div class="poster">
                        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[0].poster_path}">
                      </div>
                <div class="Movie_rate">
                  <p>${movie[0].vote_average} <span><i class="fas fa-star"></i></span></p>
                </div>
                <div class="Movie_title">
                  <h2>${movie[0].name}</h2><p>(${movie[0].first_air_date})</p></div>
              </div>

              <div class="card">
                      <div class="poster">
                        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[1].poster_path}">
                      </div>
                <div class="Movie_rate">
                  <p>${movie[1].vote_average} <span><i class="fas fa-star"></i></span></p>
                </div>
                <div class="Movie_title"><h2>${movie[1].name}</h2><p>(${movie[1].first_air_date})</p></div>
              </div>

              <div class="card">
                      <div class="poster">
                        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[2].poster_path}">
                      </div>
                <div class="Movie_rate">
                  <p>${movie[2].vote_average} <span><i class="fas fa-star"></i></span></p>
                </div>
                <div class="Movie_title"><h2>${movie[2].name}</h2><p>(${movie[2].first_air_date})</p></div>
              </div>

              <div class="card">
                      <div class="poster">
                        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[3].poster_path}">
                      </div>
                <div class="Movie_rate">
                  <p>${movie[3].vote_average} <span><i class="fas fa-star"></i></span></p>
                </div>
                <div class="Movie_title"><h2>${movie[3].name}</h2><p>(${movie[3].first_air_date})</p></div>
              </div>

              <div class="card">
                      <div class="poster">
                        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[4].poster_path}">
                      </div>
                <div class="Movie_rate">
                  <p>${movie[4].vote_average} <span><i class="fas fa-star"></i></span></p>
                </div>
                <div class="Movie_title"><h2>${movie[4].name}</h2><p>(${movie[4].first_air_date})</p></div>
              </div>

              <div class="card">
                      <div class="poster">
                        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[5].poster_path}">
                      </div>
                <div class="Movie_rate">
                  <p>${movie[5].vote_average} <span><i class="fas fa-star"></i></span></p>
                </div>
                <div class="Movie_title"><h2>${movie[5].name}</h2><p>(${movie[5].first_air_date})</p></div>
              </div>

              <div class="card">
                      <div class="poster">
                        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[6].poster_path}">
                      </div>
                <div class="Movie_rate">
                  <p>${movie[6].vote_average} <span><i class="fas fa-star"></i></span></p>
                </div>
                <div class="Movie_title"><h2>${movie[6].name}</h2><p>(${movie[6].first_air_date})</p></div>
              </div>

              <div class="card">
                      <div class="poster">
                        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[7].poster_path}">
                      </div>
                <div class="Movie_rate">
                  <p>${movie[7].vote_average} <span><i class="fas fa-star"></i></span></p>
                </div>
                <div class="Movie_title"><h2>${movie[7].name}</h2><p>(${movie[7].first_air_date})</p></div>
              </div>

              <div class="card">
                      <div class="poster">
                        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[8].poster_path}">
                      </div>
                <div class="Movie_rate">
                  <p>${movie[8].vote_average} <span><i class="fas fa-star"></i></span></p>
                </div>
                <div class="Movie_title"><h2>${movie[8].name}</h2><p>(${movie[8].first_air_date})</p></div>
              </div>

              <div class="card">
                      <div class="poster">
                        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[9].poster_path}">
                      </div>
                <div class="Movie_rate">
                  <p>${movie[9].vote_average} <span><i class="fas fa-star"></i></span></p>
                </div>
                <div class="Movie_title"><h2>${movie[9].name}</h2><p>(${movie[9].first_air_date})</p></div>
              </div>
                </div>
           `;
})
    </script>
  </div>
</section>

<div class="titre_section">
  <h2>Les series les plus regarder en aujourd'hui</h2>
</div>
<section class="mostWatchedTvOnToday">
  <script>
      const mostWatchedTodayTv= "http://api.themoviedb.org/3/tv/airing_today?api_key=84483b5fbf72908a4d3869434376a6ba&language=fr"
              fetch(mostWatchedTodayTv)
              .then((res) => res.json())
              .then ((data) =>  {
              var movie = (data.results)             
               console.log(latestRatedTv);
               document.querySelector(".mostWatchedTvOnToday").innerHTML = `
               <div class="section">
                  <div class="card">
                      <div class="poster">
                        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[0].poster_path}">
                      </div>
                <div class="Movie_rate">
                  <p>${movie[0].vote_average} <span><i class="fas fa-star"></i></span></p>
                </div>
                <div class="Movie_title">
                  <h2>${movie[0].name}</h2><p>(${movie[0].first_air_date})</p></div>
              </div>

              <div class="card">
                      <div class="poster">
                        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[1].poster_path}">
                      </div>
                <div class="Movie_rate">
                  <p>${movie[1].vote_average} <span><i class="fas fa-star"></i></span></p>
                </div>
                <div class="Movie_title"><h2>${movie[1].name}</h2><p>(${movie[1].first_air_date})</p></div>
              </div>

              <div class="card">
                      <div class="poster">
                        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[2].poster_path}">
                      </div>
                <div class="Movie_rate">
                  <p>${movie[2].vote_average} <span><i class="fas fa-star"></i></span></p>
                </div>
                <div class="Movie_title"><h2>${movie[2].name}</h2><p>(${movie[2].first_air_date})</p></div>
              </div>

              <div class="card">
                      <div class="poster">
                        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[3].poster_path}">
                      </div>
                <div class="Movie_rate">
                  <p>${movie[3].vote_average} <span><i class="fas fa-star"></i></span></p>
                </div>
                <div class="Movie_title"><h2>${movie[3].name}</h2><p>(${movie[3].first_air_date})</p></div>
              </div>

              <div class="card">
                      <div class="poster">
                        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[4].poster_path}">
                      </div>
                <div class="Movie_rate">
                  <p>${movie[4].vote_average} <span><i class="fas fa-star"></i></span></p>
                </div>
                <div class="Movie_title"><h2>${movie[4].name}</h2><p>(${movie[4].first_air_date})</p></div>
              </div>

              <div class="card">
                      <div class="poster">
                        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[5].poster_path}">
                      </div>
                <div class="Movie_rate">
                  <p>${movie[5].vote_average} <span><i class="fas fa-star"></i></span></p>
                </div>
                <div class="Movie_title"><h2>${movie[5].name}</h2><p>(${movie[5].first_air_date})</p></div>
              </div>

              <div class="card">
                      <div class="poster">
                        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[6].poster_path}">
                      </div>
                <div class="Movie_rate">
                  <p>${movie[6].vote_average} <span><i class="fas fa-star"></i></span></p>
                </div>
                <div class="Movie_title"><h2>${movie[6].name}</h2><p>(${movie[6].first_air_date})</p></div>
              </div>

              <div class="card">
                      <div class="poster">
                        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[7].poster_path}">
                      </div>
                <div class="Movie_rate">
                  <p>${movie[7].vote_average} <span><i class="fas fa-star"></i></span></p>
                </div>
                <div class="Movie_title"><h2>${movie[7].name}</h2><p>(${movie[7].first_air_date})</p></div>
              </div>

              <div class="card">
                      <div class="poster">
                        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[8].poster_path}">
                      </div>
                <div class="Movie_rate">
                  <p>${movie[8].vote_average} <span><i class="fas fa-star"></i></span></p>
                </div>
                <div class="Movie_title"><h2>${movie[8].name}</h2><p>(${movie[8].first_air_date})</p></div>
              </div>

              <div class="card">
                      <div class="poster">
                        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie[9].poster_path}">
                      </div>
                <div class="Movie_rate">
                  <p>${movie[9].vote_average} <span><i class="fas fa-star"></i></span></p>
                </div>
                <div class="Movie_title"><h2>${movie[9].name}</h2><p>(${movie[9].first_air_date})</p></div>
              </div>
                </div>
           `;
})
    </script>
  </div>
</section>
    <section id="footer">
        <div class="footer_icon">
          <i class="fab fa-facebook-square" id="heart"></i>
          <i class="fab fa-twitter-square"id="heart"></i>
          <i class="fab fa-instagram-square"id="heart"></i>
          <i class="fab fa-github-square"id="heart"></i><br>
          <div class="pseudo_section">
            <div class="pseudo_section_button"><p>Bonjour <%= username %></p></div>
            </div>
            
           
         </div>
         
          <!-- <div class="user_img"></div> -->
        
       <div class="footer_title">
         <p>Developper avec <i class="fas fa-heart" ></i> par Code Dragi ();<br>2021</p>
         
       </div>
    </section>





































<!--     
    <div class="tfa-switch">
        <div>
            <p>Enable/Disable Two Factor Authentication : </p>
        </div>
        <div class="onoffswitch">
            <% if(isChecked){ %>
                <input type="checkbox" checked name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" />
            <% }else{ %>
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" />
            <% } %>
            
            <label class="onoffswitch-label" for="myonoffswitch"></label>
        </div>
    </div>
    <div class="tfa-box">
        
    </div>
    <div class="activate">

    </div> -->

    <!-- Javascript -->
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.backstretch.min.js"></script>
    <script src="/js/app.js"></script>
    
    <!--[if lt IE 10]>
        <script src="assets/js/placeholder.js"></script>
    <![endif]-->

</body>
</html>