.media-details-page-container {
    display: flex;
    height: 50vh;
  }
  
  .media-details-content {
    display: flex;
    width: 100%;
  }
  
  .media-infos {
    background-color: #da1313; 
    width: 30%;
  }
  
  .media-cast {
    width: 70%;
  }
  

  @media (max-width: 768px) {
    .media-details-content {
      flex-direction: column;
    }
  
    .media-cast {
      order: 1;
      margin-top: 20px;
      width: 100%;
    }
  
    .media-infos {
      order: 2;
      width: 100%;
    }
  }
  