.SearchBarContainer {
    display: flex;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    left: 25%;
    transform: translateX(-50%);
  }
  
  .SearchInputContainer {
    position: relative;
    width: 100%;
  }
  
  .SearchInput {
    padding: 8px 40px 8px 8px;
    border: 2px solid #720e9e;
    border-radius: 20px;
    width: 100%;
    outline: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  
  .SearchIcon {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #720e9e;
  }
  
  @media (max-width: 767px) {
    .SearchBarContainer {
      width: 60%;
      left: 25%;
    }
  
    .SearchInput {
      padding: 8px 35px 8px 8px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
  }
  